# flow
.ai/internal/
.ai/web/
.claude/
.codex/
.flox/

# core
.DS_Store
.env
.env*.local
.env.production
output
dist
target
.idea
.cache
.output
node_modules
package-lock.json
yarn.lock
.vercel
*.db
.repo_ignore
i.*
i-*
i/
internal/
past.*
past-*
past/
*.log
private
.npm-cache
.cargo_home

# misc
.source
/coverage
/.next/
/out/
/build
*.tsbuildinfo
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
next-env.d.ts
